/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--text-weight);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
}
/* HEADER */
.header {
  display: flex;
  justify-content: center;
}
.logo {
  font-family: var(--accent-font, sans-serif);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  text-align: center;
}
.logo span {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  display: inline-block;
  margin-bottom: 20px;
}
.logo__container {
  width: var(--main-width);
  background-color: white;
  height: 40vh;
  max-height: var(--header-height);
  border: 2px black solid;
  margin: 10.625vh 0 10.625vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* --- */
/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.2vh;
}
.card {
  background-color: white;
  width: 50vw;
  max-width: var(--main-width);
  border: 2px black solid;
  display: flex;
  flex-direction: column;
}
.card__title {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-variation-settings: "wght" var(--title-weight);
  margin: 3px;
  line-height: 1.4;
  margin-left: 10px;
}
.card__img {
  width: 50vw;
  max-width: 100%;
  overflow: hidden;
  max-height: 700px;
  /* position: relative; */
}
.card__discription {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-variation-settings: "wght" var(--text-weight);
  margin: 25px;
}
/* .button__text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
}
.card__button {
  border: 2px black solid;
  width: 130px;
  height: 38px;
  margin: 25px;
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */
.save__button {
  width: 335px;
  height: 51px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card__label {
  position: absolute;
  font-family: var(--accent-font), sans-serif;
  mix-blend-mode: hard-light;
  margin: 25px;
  right: 26vw;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
@supports ((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
  .card__label {
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .logo__container {
    /* width: 100%; */
    height: 327px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  /* .logo {
  font-size: 1.60vw;
} */
  /* .logo span {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}  */
}
/* --- */
